<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "lv.stalker.karaokedb"
    versionCode = "12"
    version     = "1.0.8" >

<!-- versionCode is optional and Android only -->

  <name>Karaoke DB</name>

  <description>
      Karaoke catalog
  </description>
  <icon src="mic.png" />
  <author href="https://stalker.lv" email="stalker@stalker.lv">
      Pavels Medvedevs
  </author>

</widget>
